body {
    background-color: rgb(255, 239, 219);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(61, 61, 61);
}

h1 {
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    font-style: italic;
    color: rgb(100, 100, 100);
    font-weight: 100;
    letter-spacing: -1px;
}

.photo {
    width: 200px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin: 30px;
    box-shadow: 0px 0px 20px rgb(128, 117, 117);
}

#meuNome {
    color: rgb(0, 0, 0);
}