body {
    background-color: rgb(255, 239, 219);
    color: rgb(61, 61, 61);
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.head-cv {
    text-align: center;
    margin-bottom: 50px;
}

.photo {
    width: 200px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin: 30px auto 0;
    box-shadow: 0px 0px 20px rgb(128, 117, 117);
}

h1 {
    margin: 5px auto 0;
    font-size: 40px;
}

h2 {
    margin-top: 0;
    font-style: italic;
    color: rgb(100, 100, 100);
    letter-spacing: -1px;
}

#meuNome {
    color: rgb(0, 0, 0);
}

.social-links {
    text-decoration: none;
}

.social-icons {
    width: 20px;
    margin: 0 10px;
}