body {
    background-color: rgb(255, 239, 219);
}

p {
    color: rgb(68, 66, 66);
}

.photo {
    width: 200px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin: 30px;
    box-shadow: 0px 0px 20px rgb(128, 117, 117);
}

#meuNome {
    color: rgb(0, 0, 0);
}